* {
  box-sizing: border-box;
}

.gamePanel {
  width: 70vh;
  height: 90vh;
  margin: auto;
  border: 1px black solid;
  background-color: #4B0082;
  transition: 0.3s;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;

}

table {
  width: 60%;
  height: 60%;
  margin: auto; 
}

td {
  width: 2em;
  height: 2em;
  border: 0.1em solid black;
  text-align: center;
  background-color: #01796F;
  font-size: larger
}

td:hover{
  background-color:#F0E68C;
}

.scoreBoard{
  display: flex;
  flex-direction: row;
  margin: 2em;
}

.score {
  margin: auto;
  width: 5em;
  height: 2em;
  background-color:#D8BFD8;
  text-align: center;
  border: 0.01em solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.reset{
  margin: auto;
  width: 2em;
  height: 2em;
  text-align: center;
  font-size: 4em;
  cursor: pointer;
}

.modal {
  height: 10%;
  width: 20%;
  background-color: #CF1020;
  position: absolute;
  border: 0.1em solid black;
  top: 200px;
  left: calc(50% - 150px);
  text-align: center;
  font-size: 2em;
}

.difficulty{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.icons{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.lives{
  width: 150px;
  margin: auto;
  font-size: 2em;
}

.hints{
  width: 150px;
  margin: auto;
}

.hint{
  font-size: 2em;
  cursor: pointer;
  filter: hue-rotate(175deg);
}

button {
  margin: auto;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.show{
  background-color: #A3C1AD;
}